.container{
    background-color: gray;
    width: 50%;
    height: 600px;
    display: flex;
    /* justify-content: end;  */
    /* manda ele pro final na horizontal*/
    justify-content: space-between;
    align-items: end;
    /* manda pro final na vertical */
    gap: 10px;
    padding: 10px;
    
    
}

.filho{
    background-color: rgb(53, 3, 100);
    width: 100px;
    height: 100px;
}